.button{
    transition-duration: 0.2s;
}
.center {
    margin: auto;
    width: 37%;
    border: 22px solid rgb(0, 113, 128);
    padding: 56px;
  }

.button:hover {
    background-color: #ff6c85ba;
    color: white;
  }